<%= form_for(@medidor) do |f| %>
  <% if @medidor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medidor.errors.count, "error") %> prohibited this medidor from being saved:</h2>

      <ul>
      <% @medidor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idactivo %><br>
    <%= f.text_field :idactivo %>
  </div>
  <div class="field">
    <%= f.label :codigo_interno %><br>
    <%= f.text_field :codigo_interno %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :ub_descripcion %><br>
    <%= f.text_field :ub_descripcion %>
  </div>
  <div class="field">
    <%= f.label :ub_calle %><br>
    <%= f.text_field :ub_calle %>
  </div>
  <div class="field">
    <%= f.label :ub_altura %><br>
    <%= f.text_field :ub_altura %>
  </div>
  <div class="field">
    <%= f.label :ub_entre %><br>
    <%= f.text_field :ub_entre %>
  </div>
  <div class="field">
    <%= f.label :ub_y %><br>
    <%= f.text_field :ub_y %>
  </div>
  <div class="field">
    <%= f.label :ub_tipo %><br>
    <%= f.text_field :ub_tipo %>
  </div>
  <div class="field">
    <%= f.label :ub_idlocalidad %><br>
    <%= f.text_field :ub_idlocalidad %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.text_field :city_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
