<p id="notice"><%= notice %></p>

<h1>Medidor</h1>

<div style="float: right">
<% if  ! @medidor.lat.nil? %>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=350x350&sensor=false&zoom=16&markers=#{@medidor.lat}%2C#{@medidor.lng}" ,{style: 'border: solid black 1px'} %>

<%= image_tag "http://maps.googleapis.com/maps/api/streetview?size=350x350&location=40.720032,%20-73.988354&fov=90&heading=235&pitch=10&sensor=false" ,{style: 'border: solid black 1px'} %>
<% else %>
  Medidor sin georeferenciar
<% end %>
</div>

<p>
  <strong>Idactivo:</strong>
  <%= @medidor.idactivo %>
</p>

<p>
  <strong>Codigo interno:</strong>
  <%= @medidor.codigo_interno %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @medidor.descripcion %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @medidor.tipo %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @medidor.estado %>
</p>

<p>
  <strong>Ub descripcion:</strong>
  <%= @medidor.ub_descripcion %>
</p>

<p>
  <strong>Ub calle:</strong>
  <%= @medidor.ub_calle %>
</p>

<p>
  <strong>Ub altura:</strong>
  <%= @medidor.ub_altura %>
</p>

<p>
  <strong>Ub entre:</strong>
  <%= @medidor.ub_entre %>
</p>

<p>
  <strong>Ub y:</strong>
  <%= @medidor.ub_y %>
</p>

<p>
  <strong>Ub tipo:</strong>
  <%= @medidor.ub_tipo %>
</p>

<p>
  <strong>Ub idlocalidad:</strong>
  <%= @medidor.ub_idlocalidad %>
</p>

<%= link_to 'Edit', edit_medidor_path(@medidor) %> |
<%= link_to 'Back', medidors_path %>
