<%= form_tag lecturas_path, :method => 'get', :id => "lecturas_search" do %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :format, "html", id:"h_format" %>



 <%= label_tag "Lecturistas" %>
    <%= chosen_multiple_tag 'lecturista_id[]', options_for_select(Lecturista.all.map { |u| [u.nombre, u.id] } , params[:lecturista_id]), 
        { "data-placeholder" => "...", style: "width: 200px" }
    %>

    
    <%= label_tag "Periodos" %>
    <%= chosen_multiple_tag 'periodo[]', options_for_select(Lectura.periodos.map { |u| [u, u] }, params[:periodo]), 
        {"data-placeholder" => "...", style: "width: 200px" }
    %>
    
    <%= label_tag "Rutas" %>
    <%= chosen_multiple_tag 'ruta[]', options_for_select(Lectura.rutas.map { |u| [u,u] }, params[:ruta]), 
        {"data-placeholder" => "...", style: "width: 200px" } 
    %>

    <%= hidden_field_tag 'estado' , params[:estado], {id: 'h_estado'}%>

    <%= submit_tag "Filtrar", {id: 'submit_btn', class: "btn btn-primary "} %>

     <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      Exportar
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" onclick="submit_form('lecturas_search','csv')">Archivo separado por comas</a></li>
      <li><a href="#" onclick="$('#h_format').val('xls'); $('#lecturas_search').submit()">Excel</a></li>
    </ul>
  </div>

    
	<%= will_paginate @lecturas %>
	  <div id="lecturas"><%= render 'lecturas' %></div>
	<%= will_paginate @lecturas %>
	
<% end %>

