<%= form_tag lecturas_path, :method => 'get', :id => "lecturas_search" do %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= hidden_field_tag :format, "html", id:"h_format" %>



 <%= label_tag "Lecturistas" %>
    <%= chosen_multiple_tag 'lecturista_id[]', options_for_select(Lecturista.all.map { |u| [u.nombre, u.id] } , params[:lecturista_id]), 
        { "data-placeholder" => "...", style: "width: 200px" }
    %>

    
    <%= label_tag "Periodos" %>
    <%= chosen_multiple_tag 'periodo[]', options_for_select(Lectura.periodos.map { |u| [u, u] }, params[:periodo]), 
        {"data-placeholder" => "...", style: "width: 200px" }
    %>
    
    <%= label_tag "Rutas" %>
    <%= chosen_multiple_tag 'ruta[]', options_for_select(Lectura.rutas.map { |u| [u,u] }, params[:ruta]), 
        {"data-placeholder" => "...", style: "width: 200px" } 
    %>

    <%= hidden_field_tag 'estado' , params[:estado], {id: 'h_estado'}%>

    <%= submit_tag "Filtrar", {id: 'submit_btn', class: "btn btn-primary "} %>

     <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      Exportar
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" onclick="submit_form('lecturas_search','csv')">Archivo separado por comas</a></li>
      <li><a href="#" onclick="submit_form('lecturas_search','xls')">Excel</a></li>
    </ul>
  </div>

  <a href="#" onclick="if('Esto puede demorar. Esta seguro ?') {f = $('#lecturas_search'); f.attr('action','/lecturas/georeferenciar');f.submit();}" >Georeferenciar lista</a>


<div class="row">
<div class="col-md-2" style="padding-top: 140px">
    <ul class="nav nav-pills nav-stacked">
    <% @estado_cantidad.each do |est,cant| %>
      <% if  params[:estado].to_s == est.to_s %>
        <li class="active" >
      <% else %>
        <li  >
      <% end %>
        <a href="#" onclick="$('#h_estado').val('<%=est%>'); $('#submit_btn').click()" ><span class="badge pull-right"><%=cant%></span><%= est.to_s  %>&nbsp;</a>
      </li>
    <% end %>
    </ul>
</div>
<div class="col-md-10">
    
	
	  <div id="lecturas"><%= render 'lecturas' %></div>

  </div>
</div>
	
<% end %>

<% javascript_include_tag 'scaffold' %>


