<h1>Lecturas</h1>
<fieldset>
<%= form_tag action: :filtrar %>
    
    <%= label_tag "Lecturistas" %>
    <%= chosen_multiple_tag 'lecturista_id[]', options_for_select(Lecturista.all.map { |u| [u.nombre, u.id] } , params[:lecturista_id]), 
        { "data-placeholder" => "...", style: "width: 200px" }
    %>

    
    <%= label_tag "Periodos" %>
    <%= chosen_multiple_tag 'periodo[]', options_for_select(Lectura.periodos.map { |u| [u, u] }, params[:periodo]), 
        {"data-placeholder" => "...", style: "width: 200px" }
    %>
    
    <%= label_tag "Rutas" %>
    <%= chosen_multiple_tag 'ruta[]', options_for_select(Lectura.rutas.map { |u| [u,u] }, params[:ruta]), 
        {"data-placeholder" => "...", style: "width: 200px" } 
    %>

    <%= hidden_field_tag 'estado' , params[:estado], {id: 'h_estado'}%>

    <%= submit_tag "Filtrar", {id: 'submit_btn', class: "btn btn-primary "} %>
</form>
</fieldset>

<fieldset>
<legend onclick="$(this).next('div').slideToggle()">Mapa</legend>
<% markers = @lecturas.map{|m| "markers=#{m.lat},#{m.lon}" unless m.lat.nil? }.compact.join('&') %>
<% markers_real = @lecturas.map{|m| "markers=icon:http://tinyurl.com/2ftvtt6|#{m.lectura_lat},#{m.lectura_lon}" unless m.lat.nil? }.compact.join('&') %>

<% path = "path=color:0x0000ff|weight:2|" + @lecturas.map{|m| "#{m.lat},#{m.lon}" unless m.lat.nil? }.compact.join('|') %>
<% path_real = "&path=color:0x00ff00|weight:2|" + @lecturas.map{|m| "#{m.lectura_lat},#{m.lectura_lon}" unless m.lat.nil? }.compact.join('|') %>

<div style="float: right; display: none">
<div>
<%
zoom=12
%>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=550x450&sensor=false&zoom=#{zoom}&#{markers}&#{markers_real}" ,{style: 'border: solid black 1px'} unless markers.blank? %>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=550x450&sensor=false&zoom=#{zoom}&#{path}&#{path_real}" ,{style: 'border: solid black 1px'} unless markers.blank? %>
</div>

</div>
</fieldset>


<div class="row">
<div class="col-md-2" style="padding-top: 140px">
<ul class="nav nav-pills nav-stacked">
<% @estado_cantidad.each do |est,cant| %>
  <% if  params[:estado].to_s == est.to_s %>
    <li class="active" >
  <% else %>
    <li  >
  <% end %>
    <a href="#" onclick="$('#h_estado').val('<%=est%>'); $('#submit_btn').click()" ><span class="badge pull-right"><%=cant%></span><%= est.to_s  %>&nbsp;</a>
  </li>
<% end %>
</ul>
</div>
<div class="col-md-10">
<%= will_paginate  %>
<table>
  <thead>
    <tr>
      <th>Ruta</th>
      <th>Periodo</th>
      <th>Secuencia</th>
      <th>Usuario</th>
      <th>Direccion</th>
      <th>Cp</th>
      <th>Medidor</th>
      <th>Lectura valor</th>
      <th>Incidencias</th>
      <th>Estado</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lecturas.each do |lectura| %>
      <tr>
        <td><%= lectura.ruta %></td>
        <td><%= lectura.periodo %></td>
        <td><%= lectura.secuencia %></td>
        <td><%= lectura.usuario %> / <%= lectura.razon_social %></td>
        <td><%= lectura.direccion %> (<%=lectura.datos_comp%>)</td>
        <td><%= lectura.cp %></td>
        <td>[<%= lectura.medidor_tipo %>] <%= lectura.medidor_num %></td>
        <td><%= lectura.lectura_valor %></td>
        <td><%= lectura.incidencias %> <%= "FOTO" if lectura.fotos.count > 0 %></td>
        <td><%= lectura.estado.to_s %> </td>
        <td><%= link_to 'Show', lectura %></td>
        <td><%= link_to 'Edit', edit_lectura_path(lectura) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate  %>
</div>
</div>

<br>


<% javascript_include_tag 'scaffold' %>
