<%= form_for(@incidencia) do |f| %>
  <% if @incidencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incidencia.errors.count, "error") %> prohibited this incidencia from being saved:</h2>

      <ul>
      <% @incidencia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :requiere_lectura %><br>
    <%= f.text_field :requiere_lectura %>
  </div>
  <div class="field">
    <%= f.label :dato_requerido %><br>
    <%= f.text_field :dato_requerido %>
  </div>
  <div class="field">
    <%= f.label :dato_rexp %><br>
    <%= f.text_field :dato_rexp %>
  </div>
  <div class="field">
    <%= f.label :incidencias_incompatibles %><br>
    <%= f.text_field :incidencias_incompatibles %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
