<h1>Test de controles</h1>



<fieldset>
<legend>Form Bootstrap</legend>

<label for="n1">Search</label>
<input data-search name="n1" type="text" class="typeahead" data-url="/ruta/search" data-search placeholder="Ruta"/>


<label for="ac">Autocomplete</label>
<input data-autocomplete name="ac" type="text" class="typeahead"
    id="client-search"
    data-url="/ruta/search_map"
    data-target="client-id">
<input type="hidden" id="client-id" name="client-id">
<br />

<br />
<br />
<br />




<fieldset>
<legend>Form Bootstrap</legend>
<%= bootstrap_form_for(Rutum.first, layout: :horizontal) do |f| %>
  <%= f.email_field :nombre %>
  <%= f.text_field :orden, control_col: "col-sm-3" %>
  <%= f.form_group do %>
    <%= f.submit  %>
  <% end %>
<% end %>
</fieldset>


<%= javascript_include_tag "application", controller_name %>

