<% provide(:title, 'Rutas') %>
<h1>Rutas (<%= @periodo %>)</h1>



<%= will_paginate @rutas %>

<table class="table">
  <thead>
    <tr>
      <th>Ruta</th>
      <th>Estado</th>
      <th>Grafico</th>
      <th>Lecturista</th>
      <th>Lecturas</th>
    </tr>
  </thead>

  <tbody>

    <tbody>
	<% @rutas.each do |ruta| %>
      <tr>
        <td><%= ruta.ruta %></td>
        <td>

        <%
          estados = {"Leida" => 0, "Nueva" => 0}.merge! Lectura.where(ruta: ruta.ruta, periodo: @periodo).group(:estado).count
        %>  
        <% estados.each do |est, cant| %>
          <div><span class="label label-<%= if est == "Leida"; "success"; else "default"; end %>"><%=est %>: <%=cant%>  </span></div>
        <% end %>        
        </td>
        <td width="400">
        <%= column_chart estados , height: "100px", colors:  ['green','red', 'yellow']  %>
        </td>          
        <td>
        <%
          lecturistas = Lectura.joins(:lecturista).where(ruta: ruta.ruta, periodo: params[:periodo]).group(:lecturista).count
        %> 

        <%= lecturistas.map{|a,b| a[:nombre]}.first %>

        <%= form_tag action: "asignar"  %>
          <%= hidden_field_tag 'ruta' , ruta.ruta %>
          <%= hidden_field_tag 'periodo' ,  @periodo %>

          <%= select_tag :lecturista,  options_for_select(Lecturista.all.map { |u| [u.nombre, u.id] }), { onchange: "if(confirm('Esta seguro que desea asignar esta ruta ?')) { $(this).parent('form').submit(); }", :include_blank => '-' } %>

        </form>
        </td>
        </td>
        <td><%= button_to "Ver Lecturas", "/lecturas/filtrar?ruta=#{ruta.ruta}&periodo=#{params[:periodo]}", {class: "btn btn-default"} %></td>
        <td><%= button_to "Nuevo periodo", "/ruta/nuevo_periodo?ruta=#{ruta.ruta}", {class: "btn btn-default", confirm:"Seguro ?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate  @rutas %>


